@import "tailwindcss";

.segment {
  transition: width 500ms ease-in-out;
}

.decision-grid {
  grid-template-columns: repeat(13, 90px);
}

html, body, footer {
  height: 100%;
  margin: 0;
  padding: 0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-none::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari */
}
.scrollbar-none {
  -ms-overflow-style: none;  /* Hide scrollbar in IE/Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

/* iOS 18 Safari – force tooltips to render */
.introjs-tooltipReferenceLayer {
  visibility: visible !important;
}

