@import "tailwindcss";


.matrix-grid {
  display: grid;
  /* Set columns to exactly 600px per item; auto-fit will place as many as possible */
  grid-template-columns: repeat(auto-fit, minmax(300px, 404px));
  gap: 3px;
  margin-top: 5px;
  margin: 0 auto;
  justify-content: center; /* centers grid items if there's extra space */
  padding-left: 0rem;
  padding-right: 0rem;
  /* border: 1px solid #ccc; */
}

.matrix-item {
  position: relative;
  width: 402px;  /* fixed width */
  height: 320px; /* fixed height */
  overflow: none; /* allow scrolling if content overflows */
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
}

.decision-grid {
  grid-template-columns: repeat(13, 90px);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #bfdbfe, #e9d5ff);
}
