@import "tailwindcss";


.matrix-grid {
  display: grid;
  /* Set columns to exactly 600px per item; auto-fit will place as many as possible */
  grid-template-columns: repeat(auto-fit, minmax(450px, 450px));
  gap: 3px;
  margin-top: 5px;
  margin: 0 auto;
  justify-content: center; /* centers grid items if there's extra space */
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid #ccc;
}

.matrix-item {
  position: relative;
  width: 432px;  /* fixed width */
  height: 320px; /* fixed height */
  overflow: none; /* allow scrolling if content overflows */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.decision-grid {
  grid-template-columns: repeat(13, 90px);
}




/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
